:root {
  --primary-color: #58c76a;
  --dark-primary-color: #4ea65f;
  --light-gray-color: #f2f4f5;
  --gray-color: #aaa;
  --dark-gray-color: #888;
  --white-color: #fff;
  --black-color: #333;
}

@font-face {
  font-family: "TmoneyRoundWind";
  src: url("/fonts/TmoneyRoundWindRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("/fonts/TmoneyRoundWindExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "TmoneyRoundWind";
  font-weight: normal;
  color: inherit;
  color: var(--black-color);
  font-size: 12px;
}
*:focus {
  outline: none;
}

.bolder {
  font-family: "TmoneyRoundWindExtraBold";
}

body {
  width: 100vw;
  height: 100dvh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

content {
  width: 100vw;
  height: 100dvh;
  max-width: 576px;
  background-color: var(--white-color);
}

b {
  font-family: "TmoneyRoundWindExtraBold";
  font-weight: normal;
  color: inherit;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px 40px;
  flex-direction: column;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: "TmoneyRoundWindExtraBold";
}

.text-input {
  width: 100%;
  outline: none;
  border: 1px solid var(--gray-color);
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 12px;
}

.text-input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.left-text {
  width: 100%;
  text-align: left;
}
.center-text {
  width: 100%;
  text-align: center;
}
.right-text {
  width: 100%;
  text-align: right;
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--gray-color);
}

.sumbit-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-top: 16px;
}

.primary-button {
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}

.primary-button:hover,
.primary-button:active {
  background-color: var(--dark-primary-color);
}

.check-input {
  border: none;
  border-radius: 6px;
  background-color: var(--white-color);
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
  cursor: pointer;
  padding: 10px 30px;
  width: 100%;
}

.check-input.checked {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-family: "TmoneyRoundWindExtraBold";
}

.check-input:disabled {
  color: var(--gray-color);
  background-color: var(--dark-gray-color);
  border: 1px solid var(--dark-gray-color);
}
