:root {
  --light-primary-color: #def4e1;
  --primary-color: #58c76a;
  --dark-primary-color: #4ea65f;
  --light-gray-color: #f2f4f5;
  --gray-color: #aaa;
  --dark-gray-color: #888;
  --white-color: #fff;
  --black-color: #333;
  --red-color: #f65f3e;
}

@font-face {
  font-family: "TmoneyRoundWind";
  src: url("/fonts/TmoneyRoundWindRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("/fonts/TmoneyRoundWindExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "TmoneyRoundWind";
  font-weight: normal;
  color: inherit;
  color: var(--black-color);
  font-size: 12px;
}
*:focus {
  outline: none;
}

.bolder {
  font-family: "TmoneyRoundWindExtraBold";
}

body {
  width: 100vw;
  height: 100dvh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100dvh;
  max-width: 576px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-light-primary-color {
  background-color: var(--light-primary-color);
}
b {
  font-family: "TmoneyRoundWindExtraBold";
  font-weight: normal;
  color: inherit;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px 40px;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "TmoneyRoundWindExtraBold";
}
.sub-title {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "TmoneyRoundWindExtraBold";
}

.text-input {
  width: 100%;
  outline: none;
  border: 1px solid var(--gray-color);
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 12px;
}

.text-input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.left-text {
  width: 100%;
  text-align: left;
}
.center-text {
  width: 100%;
  text-align: center;
}
.right-text {
  width: 100%;
  text-align: right;
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--gray-color);
}

.dark-gray-text {
  color: var(--dark-gray-color);
}

.link-text {
  text-decoration: underline;
  cursor: pointer;
}

.link-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.link-button {
  text-align: center;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 20px 30px;
  border-radius: 6px;
}

.sumbit-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-top: 16px;
}

.primary-button {
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 4px 8px;
}

.secondary-button {
  border: none;
  border-radius: 6px;
  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);
  cursor: pointer;
  padding: 4px 8px;
}

.primary-button:hover,
.primary-button:active {
  background-color: var(--dark-primary-color);
}

.secondary-button:hover,
.secondary-button:active {
  background-color: var(--dark-primary-color);
}

.transparent {
  background-color: transparent !important;
  border-color: transparent !important;
}
.check-input {
  border: none;
  border-radius: 6px;
  background-color: var(--white-color);
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
  cursor: pointer;
  padding: 10px 30px;
  width: 100%;
}

.check-input.checked {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-gray-color);
  padding: 12px 18px;
}

.logo {
  font-family: "TmoneyRoundWindExtraBold";
  font-size: 24px;
  color: #58c76a;
  width: fit-content;
}

.icon-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.text-button {
  font-family: "TmoneyRoundWindExtraBold";
  width: 100%;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 18px;
  overflow-y: auto;
}

.articles {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.hidden {
  display: none !important;
}
.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 50%;
}

.article {
  width: 100%;
  height: 170px;
  min-height: 170px;
  background-color: var(--light-gray-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.article .category {
  display: flex;
  align-items: center;
  font-family: "TmoneyRoundWindExtraBold";
  font-size: 12px;
  color: var(--white-color);
  text-shadow: var(--black-color) 0px 0px 3px;
}
.article .category::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border: 1px solid var(--white-color);
  border-radius: 50%;
  margin-right: 4px;
}
.article.solved .category::before {
  background-color: var(--gray-color);
}
.article .info {
  width: 100%;
}
.article .title {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: var(--black-color);
  color: var(--white-color);
}
.article .content {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: var(--black-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  color: var(--white-color);
}
.article .content * {
  color: var(--white-color);
}
.blank-divider {
  width: 100%;
  flex: 1;
  background-color: transparent;
}
.text-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 9px;
  color: var(--gray-color);
}
.text-divider::after {
  content: "";
  display: inline-block;
  flex: 1;
  height: 1px;
  background-color: var(--gray-color);
}

.bottom-bar {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--light-gray-color);
}

.bottom-bar a {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.home {
  background: no-repeat center center url("/images/home.svg");
}
a.home.active {
  background: no-repeat center center url("/images/home-active.svg");
}
a.rank {
  background: no-repeat center center url("/images/rank.svg");
}
a.rank.active {
  background: no-repeat center center url("/images/rank-active.svg");
}
a.setting {
  background: no-repeat center center url("/images/setting.svg");
}
a.setting.active {
  background: no-repeat center center url("/images/setting-active.svg");
}
a.arrow {
  background: no-repeat center center url("/images/arrow.svg");
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray-color);
  padding: 6px;
  gap: 6px;
  border-radius: 10px;
}

.tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 0px;
  text-decoration: none;
  font-family: "TmoneyRoundWindExtraBold";
  font-size: 12px;
}

.rank-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--light-gray-color);
  cursor: pointer;
}
.rank-item .rank {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border-radius: 50%;
  background-color: var(--gray-color);
}

.rank-item .rank.first {
  background-color: #ffcf23;
}
.rank-item .rank.second {
  background-color: #9ebfdd;
}
.rank-item .rank.third {
  background-color: #e59143;
}

.ellipse {
  width: 100%;
  height: 14px;
  background: no-repeat center center url("/images/ellipse.svg");
}

.rank-statistics {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--light-gray-color);
  cursor: pointer;
}
.rank-statistics .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.rank-statistics .title {
  font-family: "TmoneyRoundWind";
  font-size: 12px;
  color: var(--gray-color);
}
.rank-statistics .content {
  font-family: "TmoneyRoundWindExtraBold";
  font-size: 16px;
  color: var(--primary-color);
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.quiz-article,
.quiz-question {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 12px;
  padding: 24px;
  background-color: var(--white-color);
  border-radius: 12px 12px 0px 0px;
}
.quiz-article .sentence {
  font-size: 14px;
}

.quiz-question {
  height: auto;
  border-top: 1px solid var(--light-gray-color);
  background-color: #fcfcfc;
  border-radius: 0px 0px 12px 12px;
}
.quiz-question .question {
  font-family: "TmoneyRoundWindExtraBold";
  font-size: 14px;
}
.choices {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quiz-question .choices .choice {
  background-color: var(--white-color);
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
  padding: 14px 12px;
  border-radius: 6px;
  border: 1px solid var(--black-color);
  cursor: pointer;
}

.quiz-question .choices .choice:disabled {
  background-color: var(--light-gray-color);
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
}

.quiz-question .choices .choice.selected {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
}
.quiz-question .choices .choice.wrong {
  background-color: var(--white-color);
  color: var(--red-color);
  border-color: var(--red-color);
}
.quiz-question .choices .choice.correct {
  background-color: var(--white-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.quiz-question .choices .choice:nth-child(1):before {
  content: "1.";
}
.quiz-question .choices .choice:nth-child(2):before {
  content: "2.";
}
.quiz-question .choices .choice:nth-child(3):before {
  content: "3.";
}
.quiz-question .choices .choice:nth-child(4):before {
  content: "4.";
}

.pill {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 10px;
  font-size: 9px;
  font-family: "TmoneyRoundWindExtraBold";
}

.right-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

/* 기존 코드 */
/* .right-image {
  float: right;
}

.right-icon {
  width: Hug (20px) px;
  height: Hug (20.52px) px;
  top: 13.74px;
  left: 331px;
  gap: 0px;
  opacity: 0px;
}

.home-top-bar {
  width: 375px;
  height: 48px;
  top: 44px;
  border-bottom: 1px solid var(--LightGray, #f2f4f5);
}

.home-middle-bar {
  width: 375px;
  height: 630px;
  top: 92px;
  padding: 12px 18px 12px 18px;
  gap: 16px;
  opacity: 0px;
}

.black-text {
  font-family: "Tmoney RoundWind";
  font-size: 20px;
  font-weight: 800;
  line-height: 26.02px;
  text-align: left;
  color: black;
}

.grey-text {
  font-family: Tmoney RoundWind;
  font-size: 9px;
  font-weight: 400;
  line-height: 11.71px;
  text-align: left;
  color: #aaaaaa;
}

.text-with-line {
  display: flex;
  align-items: center;
}

.text-with-line hr {
  flex: 1;
}

.home-container-1 {
  width: 339px;
  height: 170px;
  padding: 12px 12px 6px 12px;
  gap: 0px;
  border-radius: 6px;
  justify-content: space-between;
  background-image: url(test.jpeg);
  background-size: contain;
}

.image-ellipse img {
  width: 10px;
  height: 10px;
  background-color: #58c76a;
}

.text-white {
  font-family: Tmoney RoundWind;
  font-size: 12px;
  font-weight: 800;
  line-height: 15.61px;
  text-align: left;
  color: white;
}

.text-home-title {
  font-family: Tmoney RoundWind;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.61px;
  text-align: center;
  color: white;
  margin-top: 110px;
}

.text-home-paragraph {
  font-family: Tmoney RoundWind;
  font-size: 9px;
  font-weight: 400;
  line-height: 11.71px;
  text-align: center;
  color: white;
}

.home-bottom-bar {
  width: Fixed (375px) px;
  height: Fixed (56px) px;
  top: 722px;
  gap: 0px;
  opacity: 0px;
  color: white;
}

.rank-top-bar {
  width: 341px;
  height: 47px;
  top: 104px;
  left: 17px;
  padding: 0px 7px 0px 7px;
  gap: 8px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  color: #888888;
}

.rank-ranking-button {
  width: 159.5px;
  height: 34px;
  padding: 0px 37px 0px 37px;
  gap: 10px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #58c76a;
  border: none;
}

.rank-additional-button {
  width: 159.5px;
  height: 34px;
  padding: 0px 37px 0px 37px;
  gap: 10px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #ffffff;
  border: none;
}

.text-click-on {
  font-family: Tmoney RoundWind;
  font-size: 13px;
  font-weight: 800;
  line-height: 16.91px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.text-click-off {
  font-family: Tmoney RoundWind;
  font-size: 13px;
  font-weight: 800;
  line-height: 16.91px;
  text-align: center;
  color: #888888;
  text-decoration: none;
}

.rank-container {
  width: 375px;
  height: 561px;
  top: 161px;
  padding: 10px 18px 10px 18px;
  gap: 7px;
  opacity: 0px;
}

.rank-MyRankingTitle {
  width: 339px;
  height: 38px;
  padding: 4px 10px 4px 0px;
  gap: 0px;
  opacity: 0px;
}
.text-rank-title {
  font-family: Tmoney RoundWind;
  font-size: 17px;
  font-weight: 800;
  line-height: 22.12px;
  color: #888888;
}

.image-share {
  width: 30px;
  height: 30px;
  padding: 4px 4px 4px 3px;
  gap: 10px;
  opacity: 0px;
  margin-left: 280px;
  line-height: 22.12px;
}

.rank-MyRankingBox {
  width: 339px;
  height: 40px;
  padding: 7px 15px 7px 15px;
  gap: 9px;
  border-radius: 20px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #f2f4f5;
  margin-bottom: 30px;
}

.rank-RankingBox {
  width: 339px;
  height: 40px;
  padding: 7px 15px 7px 15px;
  gap: 9px;
  border-radius: 20px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #f2f4f5;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rank-First {
  width: 25px;
  height: 25px;
  padding: 2px 6px 2px 6px;
  gap: 10px;
  border-radius: 100px;
  background-color: #ffcf23;
  font-family: Tmoney RoundWind;
  font-size: 14px;
  font-weight: 800;
  line-height: 18.21px;
  text-align: center;
  color: #ffffff;
}

.rank-Second {
  width: 25px;
  height: 25px;
  padding: 2px 6px 2px 6px;
  gap: 10px;
  border-radius: 100px;
  background-color: #9ebfdd;
  font-family: Tmoney RoundWind;
  font-size: 14px;
  font-weight: 800;
  line-height: 18.21px;
  text-align: center;
  color: #ffffff;
}

.rank-Third {
  width: 25px;
  height: 25px;
  padding: 2px 6px 2px 6px;
  gap: 10px;
  border-radius: 100px;
  background-color: #e59143;
  font-family: Tmoney RoundWind;
  font-size: 14px;
  font-weight: 800;
  line-height: 18.21px;
  text-align: center;
  color: #ffffff;
}

.rank-ID {
  font-family: Tmoney RoundWind;
  font-size: 15px;
  font-weight: 800;
  line-height: 19.51px;
  text-align: left;
  color: #888888;
}

.rank-vector-container {
  width: 339px;
  height: 33px;
  padding: 7px 15px 7px 15px;
  gap: 9px;
  opacity: 0px;
}

.img-vector {
  width: 2.95px;
  height: 14px;
  gap: 0px;
  opacity: 0px;
  text-align: center;
}

.rank-stastic-box {
  width: 339px;
  height: 75px;
  padding: 9px 0px 9px 0px;
  gap: 0px;
  border-radius: 15px 15px 15px 15px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #f2f4f5;
}

.rank-stastic-title {
  width: 339px;
  height: 26px;
  padding: 0px 5px 0px 5px;
}

.rank-stastic-contents {
  width: 339px;
  height: 45px;
  padding: 0px 10px 10px 10px;
}

.rack-statstic-title-font {
  width: 164.5px;
  height: 26px;
  padding: 5px 0px 5px 15px;
  gap: 10px;
  opacity: 0px;
  font-family: Tmoney RoundWind;
  font-size: 12px;
  font-weight: 800;
  line-height: 15.61px;
  text-align: center;
  color: #aaaaaa;
}

.rack-statstic-contents-font {
  width: 159.5px;
  height: 35px;
  padding: 7px 0px 7px 0px;
  gap: 10px;
  font-family: Tmoney RoundWind;
  font-size: 16px;
  font-weight: 800;
  line-height: 20.82px;
  text-align: center;
  color: #58c76a;
}

.additional-ranking-button {
  width: 159.5px;
  height: 34px;
  padding: 0px 37px 0px 37px;
  gap: 10px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #ffffff;
  border: none;
}

.additional-additional-button {
  width: 159.5px;
  height: 34px;
  padding: 0px 37px 0px 37px;
  gap: 10px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #58c76a;
  border: none;
}

.additional-box {
  width: 375px;
  height: 561px;
  top: 161px;
  padding: 10px 18px 10px 18px;
  gap: 5px;
  opacity: 0px;
}

.additional-banner {
  width: 339px;
  height: 80px;
  padding: 7px 15px 7px 15px;
  gap: 9px;
  border-radius: 15px 15px 15px 15px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #ffffff;
  color: #58c76a;
  font-family: Tmoney RoundWind;
  font-size: 16px;
  font-weight: 800;
  line-height: 65px;
  text-align: center;
  border: 1px solid var(--Primary, #58c76a);
  margin-top: 5px;
  margin-bottom: 5px;
}

.setting-box {
  width: 375px;
  height: 630px;
  top: 92px;
  padding: 33px 18px 12px 18px;
  gap: 12px;
  opacity: 0px;
}

.setting-bar {
  width: 339px;
  height: 48px;
  padding: 0px 0px 0px 15px;
  gap: 6px;
  opacity: 0px;
  font-family: Tmoney RoundWind;
  font-weight: 800;
  line-height: 20.82px;
  text-align: left;
  color: #333333;
  font-size: 16px;
} */
